.finalText{
    position: absolute;
    z-index: 50;
    margin: 30px;
    padding: 3em;
    font-size:larger;
    justify-content: center;
    text-align: center;
    background-color: #e6e2e2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lunchRoom{
    width: 100%;
}

#storySelection{
    width: 100%;
}



